*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

html {
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Helvetica Neue', Tahoma, Arial, PingFangSC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

body,
ol,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  outline: none;
  color: #333;
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-size: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: button;  /* iOS下的样式问题 */
}

.icon-arrow-right {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 4px solid #ddd;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
  border-radius: 2px;
}

.btn-default {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  border: 0;
  color: #333;
  width: 100%;
  padding: 28px;
  border-radius: 10px;
  &[disabled] {
    color: #999;
  }
}
.btn-primary {
  color: #fff;
  background-color: #4cd964;
}
